h1{
    color: red;
    text-align: center;
    border: solid black 2px;
    border-radius: 25px;
    background-color: black;
}
body{
    background-image: url(https://st3.depositphotos.com/1028367/12648/v/600/depositphotos_126481054-stock-illustration-colorful-facades-of-service-trades.jpg);
}
.btn{
    font-size: 20px;
    cursor: pointer;
}
.one{
    float:left;
    font-weight: normal;
    font-size: 25px;
    border: 2px solid red;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    background-color: black;
    margin-right: 680px;
    margin-left: 50px;
    height: 30px;
    cursor: pointer;
}
.two{
    float:left;
    font-weight: normal;
    font-size: 25px;
    border: 2px solid red;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    background-color: black;
    margin-right: 390px;
    height: 30px;
    cursor: pointer;
    
}
.three{
    float:left;
    font-weight: normal;
    font-size: 25px;
    border: 2px solid red;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    background-color: black;
    height: 30px;
    cursor: pointer;
}
img{
    width: 250px;
    height: 250px;
}